@import 'tailwindcss';

@layer base {
  :root {
    --grey1: hsl(0, 0%, 7%);
    --grey2: hsl(0, 0%, 33%);
    --grey3: hsl(0, 0%, 60%);
    --wash1: hsl(0, 0%, 90%);
    --wash2: hsl(0, 0%, 95%);
    --wash3: hsl(0, 0%, 100%);
  }

  .dark {
    --grey1: hsl(0, 0%, 93%);
    --grey2: hsl(0, 0%, 73%);
    --grey3: hsl(0, 0%, 53%);
    --wash1: hsl(0, 0%, 31%);
    --wash2: hsl(0, 0%, 22%);
    --wash3: hsl(0, 0%, 13%);
  }
}

:root {
  --page-padding-top: 3rem;
  --page-padding-bottom: 6rem;
  --page-padding-inline: 1.5rem;
  --page-column-width: 36.75rem;
  --typography-size: 0.9375rem;
  --typography-leading: 1.5rem;
}

@media (min-width: 640px) {
  :root {
    --page-padding-top: 4.5rem;
    --page-padding-bottom: 9rem;
  }
}

@media print {
  :root {
    --page-padding-top: 15mm;
    --page-padding-bottom: 20mm;
    --page-padding-inline: 20mm;
    --page-column-width: 100%;
    --typography-size: 8pt;
    --typography-leading: 14pt;
  }
}
