@import 'tailwindcss';

:root {
  --grey1: #111;
  --grey2: #555;
  --grey3: #999;
  --wash1: #e5e5e5;
  --wash2: #f2f2f2;
  --wash3: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --grey1: #eee;
    --grey2: #bbb;
    --grey3: #888;
    --wash1: #4e4e4e;
    --wash2: #383838;
    --wash3: #222;
  }
}

:root {
  --page-padding-top: 48px;
  --page-padding-bottom: 96px;
  --page-padding: 24px;
  --page-column-width: 588px;
  --font-size: 15px;
  --line-height: 1.6;
}

@media (min-width: 640px) {
  :root {
    --page-padding-top: 72px;
    --page-padding-bottom: 144px;
  }
}

body {
  background: var(--wash3);
  color: var(--grey1);
  font-size: var(--font-size);
  line-height: var(--line-height);
}
